* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.shoes {
    max-width: 200px;
    margin-left: 33%;
}

.shoes img {
    width: 100%;
    /* height: auto; */
}

.hidden {
    display: none;
}

.m-left {
    margin-left: 46%;
}

.call-section {
    padding-top: 100px;
}

.padd {
    padding: 10px 20px 10px;
}
.img-left{
    margin-left: 43%;
}